{% extends 'base.html' %}

{% block content %}
{% load l10n %}
	<!--Gauges-->
  <br>
  <hr>
   <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                      <div class="card-header bg-info text-white">
                        <h2 class="text-center">O que vamos melhorar hoje ?</h2>
                    </div>
  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-columns">
                <div class="card border-light">
                    <div id="chart_div"></div>
                    <div class="card-body">
                        <a href="{% url 'graficos:ped_gestao' user=request.user %}"><button class="btn  btn-primary shadow p-3 mb-5  rounded" style="width: 250px;"><h4>Gestão</h4></button></a>
                    </div>
                </div>
              <div class="card border-light">
                    <div class="card-body bg-transparent">
                        <h4 class="card-title text-white">Titulo do Cartão</h4>
                        <h6 class="card-subtitle mb-2 text-white">Subtitulo do Cartão</h6>
                    </div>
                </div>
                <div class="card border-light">
                    <div id="chart_div1"></div>
                    <div class="card-body">
                        <a href="{% url 'graficos:ped_desempenho' user=request.user %}"><button class="btn  btn-primary  shadow p-3 mb-5  " style="width: 250px;"><h4>Desempenho</h4></button></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras_js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['gauge']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['', {{porcentagem_gestao}}],
    ]);

    var options = {
      width: 290, height: 290,
      redFrom: 0, redTo: 34,
      yellowFrom:34, yellowTo: 68,
      greenFrom:68,greenTo:100,
      minorTicks: 5
    };

    var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

    chart.draw(data, options);
}
</script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['gauge']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['', {{porcentagem_desempenho}}],
    ]);

    var options = {
      width: 290, height: 290,
      redFrom: 0, redTo: 34,
      yellowFrom:34, yellowTo: 68,
      greenFrom:68,greenTo:100,
      minorTicks: 5
    };

    var chart = new google.visualization.Gauge(document.getElementById('chart_div1'));
    chart.draw(data, options);
    }
  </script>
{% endblock extras_js %}
