{% extends 'base.html' %}

{% block content %}
{% load l10n %}
<br>
<br>
<br>
<div class="btn-group mr-2"></div>
<div class="btn-group mr-2"></div>
<div class="btn-group mr-2"></div>
<div class="btn-group mr-2">
  <a href="{% url 'graficos:ped_diagnostico' user=request.user %}" class="href"><button type="button" class="btn btn-sm btn-outline-info">Menu</button></a>
</div>
<hr>

  <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                      <div class="card-header bg-info text-white">
                        <h2 class="text-center">Grafico de Analise SWOT</h2>
                    </div>
<br>
    <div class="bg"id="wrapper" style="min-height: 575px;">
<div class="content ">
        <div class="row">
            <div class="col-md-3">
                <div class="specpanel">
                    <div class="panel-body">
                        <div class="text-center">
                    </div>
                </div>
            </div>
         </div>
     </div>
</div>
<br>
        <div class="row">
            <div class="col-lg-6 text-center">
            	<div class="card shadow p-3 mb-5 bg-info rounded ">
           			<div class="card-body">
                        <div class="specpanel stats">
                            <div class="panel-body h-200">
                                <div class="stats-icon pull-right">
                                    <i class="fas fa-sun fa-2x"></i>
                                </div>
                                <div class="m-t-xl">
                             <span class="font-bold no-margins text-white" style="text-transform:uppercase; font-size:20px;">
                               Força
                            </span>

                                </div>
                            </div>
                        </div>
            		</div>
            	</div>
            </div>

            <div class="col-lg-6 text-center">
            	<div class="card shadow p-1 mb-1 bg-warning rounded ">
           			<div class="card-body">
                        <div class="specpanel stats">
                            <div class="panel-body h-200">
                                <div class="stats-icon pull-right">
                                    <i class="fas fa-cloud-rain fa-2x"></i>
                                </div>
                                <div class="m-t-xl">
                                    <span class="font-bold no-margins text-white" style="text-transform:uppercase; font-size:20px;">
                                Fraquezas
                            </span>
                            <br>
                            <br>

                                </div>
                            </div>
                        </div>
            		</div>
            	</div>
            </div>
               <div class="col-lg-6 text-center">
              <div class="card shadow p-3 mb-5 bg-success rounded ">
                <div class="card-body">
                        <div class="specpanel stats">
                            <div class="panel-body h-200">
                                <div class="stats-icon pull-right">
                                    <i class="fas fa-cloud-sun fa-2x"></i>
                                </div>
                                <div class="m-t-xl">
                             <span class="font-bold no-margins text-white" style="text-transform:uppercase; font-size:20px;">
                                Oportunidade
                            </span>
                                    <h3 class="no-margins font-extra-bold text-success" style="font-size:45px; color:#a94442;"> </h3>

                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>

               <div class="col-lg-6 text-center">
              <div class="card shadow p-3 mb-5 bg-danger rounded ">
                <div class="card-body">
                        <div class="specpanel stats">
                            <div class="panel-body h-200">
                                <div class="stats-icon pull-right">
                                    <i class="fas fa-poo-storm fa-2x"></i>
                                </div>
                                <div class="m-t-xl">
                             <span class="font-bold no-margins text-white" style="text-transform:uppercase; font-size:20px;">
                                Ameaças
                            </span>
                                    <h3 class="no-margins font-extra-bold text-success" style="font-size:45px; color:#a94442;"></h3>

                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
{% endblock content %}

{% block extras_js %}
<script type="text/javascript">
  function preencher(pk){
    var data = {};
    data['questao'] = pk;
    data['resposta'] = document.querySelector('input[name="questao_' + pk + '"]:checked').value

    $.ajax({
      type: "POST",
      url: './salvar/',
      data: data
    });
  };
</script>
{% endblock extras_js %}