{% extends 'base.html' %}

{% block content %}
{% load l10n %}
<br>
<br>
<br>
<div class="btn-group mr-2"></div>
<div class="btn-group mr-2"></div>
<div class="btn-group mr-2"></div>
<div class="btn-group mr-2">
  <a href="{% url 'graficos:ped_desempenho' user=request.user %}" class="href"><button type="button" class="btn btn-sm btn-outline-info">Menu</button></a>
</div>
<hr>
 <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                      <div class="card-header bg-info text-white">
                        <h2 class="text-center">Mapa Estratégico 2019</h2>
                    </div>
<br>
    <div class="bg-light "id="wrapper" style="min-height: 575px;">
<div class="content ">
        <div class="row">
            <div class="col-md-3">
                <div class="specpanel">
                    <div class="panel-body">
                        <div class="text-center">
                    </div>
                </div>
            </div>
         </div>
     </div>
</div>

            <div class="col-lg-12 text-lefth">
            	<div class="card shadow p-3 mb-5 bg-info rounded ">
           			<div class="card-body">
                        <div class="specpanel stats">
                          <!--h1 class="display-4 " style="text-transform:rotate(90deg);">Financeira</h1-->
                               <div class="card-header bg-info">
                                <h2 class="text-center bg-info text-white">Financeira</h2>
                                </div>
                                      <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card ">
                                                <div class="row">
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Crescimento Sustentável do Fat.</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Atingir Rentabilidade </h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Aumentar Produtividade</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                  </div>
                                </div>
                            </div>
                        </div>
            		</div>
            	</div>
            </div>
          </div>
<br>
              <div class="card shadow p-3 mb-5 bg-success rounded ">
                <div class="card-body">
                        <div class="specpanel stats">
                          <!--h1 class="display-4 " style="text-transform:rotate(90deg);">Financeira</h1-->
                               <div class="card-header bg-success">
                                <h2 class="text-center  text-white">Mercado e Clientes</h2>
                                    </div>
                                      <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card ">
                                                <div class="row">
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Crescimento Sustentável do Fat.</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Atingir Rentabilidade </h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Aumentar Produtividade</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
<br>
<br>
              <div class="card shadow p-3 mb-5 bg-warning rounded ">
                <div class="card-body">
                        <div class="specpanel stats">
                          <!--h1 class="display-4 " style="text-transform:rotate(90deg);">Financeira</h1-->
                               <div class="card-header bg-warning">
                                <h2 class="text-center  text-white">Processos Internos</h2>
                                    </div>
                                      <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card ">
                                                <div class="row">
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Crescimento Sustentável do Fat.</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Atingir Rentabilidade </h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Aumentar Produtividade</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
<br>
<br>
              <div class="card shadow p-3 mb-5 bg-primary rounded ">
                <div class="card-body">
                        <div class="specpanel stats">
                          <!--h1 class="display-4 " style="text-transform:rotate(90deg);">Financeira</h1-->
                               <div class="card-header bg-primary">
                                <h2 class="text-center  text-white">Aprendizado e Crescimento</h2>
                                    </div>
                                      <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card ">
                                                <div class="row">
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Crescimento Sustentável do Fat.</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Atingir Rentabilidade </h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card  bg-light">
                                                    <div class="card-body">
                                                        <p class="card-tex text-center"><h3>Aumentar Produtividade</h3></p>
                                                    </div>
                                                </div>
                                            </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}

{% block extras_js %}
<script type="text/javascript">
  function preencher(pk){
    var data = {};
    data['questao'] = pk;
    data['resposta'] = document.querySelector('input[name="questao_' + pk + '"]:checked').value

    $.ajax({
      type: "POST",
      url: './salvar/',
      data: data
    });
  };
</script>
{% endblock extras_js %}